<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="styles/img/logo-forum.png" alt="Panel"> </span>
  </div>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hidden-xs hidden-sm"></div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">Panel</h1>

        <form id="login-form" class="smart-form client-form" data-smart-validate-form ng-submit="vm.login()">
          <header>
            Sign In
          </header>
          <fieldset>
            <section>
              <label class="label">Username</label>
              <label class="input"> <i class="icon-append fa fa-user"></i>
                <input type="input" name="username"
                       data-smart-validate-input
                       data-required
                       data-message-required="Please enter your username"
                       ng-model="vm.username">
                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                  Please enter username</b></label>
            </section>
            <section>
              <label class="label">Password</label>
              <label class="input"> <i class="icon-append fa fa-lock"></i>
                <input type="password" name="password"
                       data-smart-validate-input
                       data-required
                       data-minlength="3"
                       data-maxnlength="20"
                       data-message="Please enter your email password"
                       ng-model="vm.password">
                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter
                  your password</b> </label>
            </section>
          </fieldset>
          <footer>
            <button type="submit" class="btn btn-primary">
              Sign in
            </button>
          </footer>
        </form>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hidden-xs hidden-sm"></div>
  </div>
</div>
</div>
